<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Registro</h1>
  <form action="/signup/signup" method="post">
    <div class="form-group">
      <label for="username">Nome de usuário</label>
      <input type="text" name="username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirme a senha</label>
      <input type="password" name="confirmPassword" id="confirmPassword">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="form-group">
      <label for="fullName">Nome completo</label>
      <input type="text" name="fullName" id="fullName">
    </div>
    <div class="form-group">
      <button type="submit">Registrar</button>
    </div>
  </form>
</body>
</html>

